* {
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    overflow-x: hidden;
}

.full-vh {
    height: 100vh;
}

.main {
    height: 75%;
    font-size: 1em;
}